@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --bg-primary:#F2F2F2;;
  --bg-secondary:#B0D9B2; ;
  --bg-tertary:#80BF8A; 
  --accent-primary:#1E5927;
  --accent-secondary:#308C47; 
  --text-primary:#000000;
  --text-secondary:#ffffff;
}

@media (prefers-color-scheme:dark){
  :root{
    --bg-primary:#011526;
    --bg-secondary:#012E40;
    --bg-tertary:#025959; 
    --accent-primary:#02735E;
    --accent-secondary:#038C65; 
    --text-primary:#ffffff;
    --text-secondary:#000000
  }

}
