.container{
    background-color: var(--bg-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.aside{
    background-color: var(--bg-primary);
    min-height: 100vh;
    width: 70%;
}

.section__login{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}