
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color:var(--bg-secondary);
    height: 30vh;
    border-radius: 10px;
}
.section{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form_section_input{
    width: 80%;
    border-radius: 10px;
    height: 3.5vh;
    text-align: center;
}
.form_section_input:focus{
    outline: none;

}

.form_section_input::placeholder{
    color: var(--text-off);
}

.form_section_label{
    width: 100%;
    display: block;
    text-align: center ;
    font-weight: 800;
}
.submit_button{
    background-color: var(--accent-primary);
    border-radius: 10px;
    height: 5vh;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-primary);
}